# PostgreSQL
POSTGRES_USER=brightoff
POSTGRES_PASSWORD=change_me_in_local
POSTGRES_DB=brightoff

# AWS
AWS_REGION=eu-west-3
S3_BUCKET_NAME=brightoff-cvs-dev

# Anthropic (Claude API)
ANTHROPIC_API_KEY=sk-ant-xxx
